---
// Component Imports
import Intro from "../components/Intro.svelte";
import Pricing from "../components/Pricing.svelte";
import Info from "../components/Info.svelte";
import Contact from "../components/Contact.svelte";
import NavBar from "../components/NavBar.svelte";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      }
      body {
        padding: 2rem;
        background-color: #fcfcfc;
      }
    </style>
  </head>
  <body>
    <main>
      <div class="flex flex-col">
        <NavBar client:visible />
        <Intro client:visible />
        <Pricing client:visible />
        <Info client:visible />
        <Contact client:visible />
      </div>
    </main>
  </body>
</html>
